# ===== 資料庫連線設定 =====
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=industrial_db
DB_USER=postgres
DB_PASSWORD=your_secure_password

# ===== MQTT 伺服器設定 =====
MQTT_BROKER=127.0.0.1
MQTT_PORT=1883
MQTT_USER=
MQTT_PASSWORD=
MQTT_GROUP_ID=scada_unified
MQTT_TOPIC=iot-2/evt/wadata/fmt/scada_unified

# 採集服務週期設定
# 採集週期 (秒)
POLL_INTERVAL="60.0"

#網頁小工具入口帳號、密碼、PORT
ADMIN_USER=user
ADMIN_PASSWORD=password
ADMIN_PORT=PORT_NUMBER